* {
	margin: 0 auto;
	text-shadow: 2px 2px 8px silver;
}
body {
	font-family: monospace;
	background-image: url('../img/1.png');
	background-size: 100%;
	background-attachment: fixed;
}
.before-wrapper {
	max-width: 750px;
	border: 0.1px solid rgb(240,240,240, 0.1);
	border-radius: 2px;
	background-color: rgb(240,240,240, 0.05);
}
.wrapper {
	background-color: #E3E1E3;
	border: 1px solid silver;
	border-radius: 4px;
	max-width: 700px;
	text-align: center;
	margin-top: 50px;
}
.cont {
	margin-bottom: 20px;
}
input {
	height: 20px;
}
button {
	padding: 5px;
}
h1, h2, h3 {
	margin: 20px;
	padding: 20px;
}
p {
	font-size: 20px;
}
span {
	font-size: 20px;
	color: green;
}